<h1>運営者について</h1>

<dl>
    <dt>開発した人</dt>
        <dd><a href="https://blue-night-blue.hatenablog.com/">BNB</a></dd>
        
    <dt>なぜ作った？</dt>
        <dd>
            IT業界未経験からWeb開発企業に転職しようと思い、ポートフォリオとして作りました。
            せっかく作るのなら、昔から個人的に「あったらいいな」と妄想していたWebサービスにしました。
        </dd>

    <dt>転職用に作ったということは、そのうちこのサービスは無くなる？</dt>
        <dd>
            「はい」とも「いいえ」とも言えないですね。
            というのも、上記のとおり元々このようなタグ付けに特化したクラウドのフォトストレージがなかったので作った感じです。
            2023/8/5に作って、2023/8/23の現時点で8月分のサーバー代がまだ分かりませんが、
            おそらく月額5,000円くらいすると思います(「<a href="https://aws-rough.cc/">ざっくりAWS</a>」調べ)。
            就職活動が終わった後、もう少し規模が小さくかつ安価なサーバーへの移行を
            検討していますので、場所が変わり、なおかつ、ここにアップロードした写真が消えてしまう可能性は高いと思ってください。
            とはいえ、データが消えずに済むかどうかというのは、私の今後のスキル次第ではあります。(データベースの移行について知識を深めます)
        </dd>

    <dt>言語とフレームワーク</dt>
        <dd>Ruby(3.2.2)とRuby on Rails(7.0.5)</dd>

    <dt>サーバーやデータベース等</dt>
        <dd>AWSのECS(Fargate)とRDS(MySQL)とS3、Unicorn、 Nginx</dd>

    <dt>ひとこと</dt>
        <dd>仕事探してます(切実)</dd>

</dl>