<h1>運営者について</h1>

<dl>
    <dt>開発した人</dt>
        <dd>BNB</dd>

    <dt>リンク</dt>
        <dd><a href="https://github.com/blue-night-blue/">GitHub</a></dd>
        <dd><a href="https://www.threads.net/@bnb7.043">Treads</a></dd>
        <dd><a href="https://blue-night-blue.hatenablog.com/">はてなブログ</a></dd>
        <dd><a href="https://b.hatena.ne.jp/blue_night_blue/">はてなブックマーク</a></dd>
        
    <dt>なぜ作った？</dt>
        <dd>
            IT業界未経験でWeb開発企業に転職しようと思い、ポートフォリオとして作りました。
            せっかく作るのなら、昔から個人的に「あったらいいな」と妄想していたWebサービスにしました。
        </dd>

    <dt>転職用に作ったということは、そのうちこのサービスはなくなる？</dt>
        <dd>
            <p>
            「はい」とも「いいえ」とも言えないですね。
            </p>
            <p>
            というのも、元々このような
            「登録したタグをボタンにしてポチポチ押せる外観、タグのグループ分け、タグの並び順を変更、まとめてタグ付け、許可ユーザー、遺言機能、ブラウザで動く」
            の全てを満たすフォトストレージがなく、自分で使いたくて作ったサービスなので、なくなると私も困るというか。
            (ちなみに<a href="https://www.notion.so/ja-jp">Notion</a>でも近いことはできるのですが、
            あまりにも敷居が高いのです。)
            </p>
            <p>
            そして金額の問題があります。
            2023/8/5に作ったため2023/8/24の現時点では8月分のサーバー代が未確定につきなんとも言えないのですが、
            おそらく月額5,000円くらいすると思います(「<a href="https://aws-rough.cc/">ざっくりAWS</a>」調べ)。
            </p>
            <p>
            就職活動が終わった後、もう少し規模が小さくかつ安価なサーバーへの移行を
            検討していますので、ここにアップロードしたデータ(写真やタグ等)が消えてしまう可能性は高いと思ってください。
            とはいえ、データが消えずに済むかどうかというのは、私の今後のスキル次第ではあります。(データベースの移行について知識を深めます)
            </p>
            
        </dd>

    <dt>tagfotoで使われているもの</dt>
        <dd>Ruby(3.2.2)</dd>
        <dd>Ruby on Rails(7.0.5)</dd>
        <dd>Unicorn</dd>
        <dd>Nginx</dd>
        <dd>AWS:ECS(Fargate)、ECR、RDS(MySQL)、Route53、ALB、VPC、S3</dd>
        <dd>Bcrypt</dd>

    <dt>制作環境</dt>
        <dd>PC:MacBookPro2015(Monterey)、SurfacePro7(Win11)</dd>
        <dd>スマホ:iPhoneSE2、Pixel5a</dd>
        <dd>ブラウザ:基本はChrome、MacとiPhoneはそれプラスSafari</dd>
        <dd>VSCode ※拡張機能:Vim,ChatGPT(Genie AI)</dd>
        <dd>GitHub</dd>
        <dd>Docker</dd>

    <dt>ひとこと</dt>
        <dd>仕事探してます</dd>

    <dt>好きなもの一覧(音楽等)</dt>
        <dd><a href="https://profile.hatena.ne.jp/blue_night_blue/">はてなのプロフィール</a>をご参照ください。</dd>

</dl>