<p style="color: green"><%= notice %></p>

<h1>top</h1>

  <% if @current_user %>
    <div><%= link_to "保管庫","/#{@current_user.name}" %></div>
    <div><%= link_to "ログアウト","/logout",data: { turbo_method: :post } %></div>
    
    
    
    

  <% else %>
    <ul>
        <li>プライベートな画像保管庫です</li>
        <li>あなたが許可したユーザーにだけ画像を公開できます</li>
        <li>タグ付けに特化してます</li>
    </ul>

    <div><a href="/signup">新規登録</a></div>
    <div><a href="/login">ログイン</a></div>

    
    
    
  <% end %>
