  <% unless @current_user %>
    <ul>
        <li>プライベートな画像保管庫です</li>
        <li>あなたが許可したユーザーにだけ画像を公開できます</li>
        <li>タグ付けに特化してます</li>
    </ul>

    <div><a href="/signup">新規登録</a></div>
    <div><a href="/login">ログイン</a></div>
  <% else %>

    <div class="top">
      てすと
    </div>

    <div class="top">
      てすと
    </div>

    <div class="top">
      てすと
    </div>

    <div class="top">
      てすと
    </div>

  <% end %>
