<h1>更新履歴</h1>

<dl>
<!--     
    <dt></dt>
        <dd></dd>

-->
    <dt>2023/09/10</dt>
        <dd>機能追加:AND検索でタグを押すたびに候補が絞られていく(yourphotoのみ)</dd>

    <dt>2023/09/03</dt>
        <dd>機能追加:ANDとORの複合検索(yourphotoのみ)</dd>

    <dt>2023/09/02</dt>
        <dd>機能追加:OR検索(yourphotoのみ)</dd>

    <dt>2023/08/31</dt>
        <dd>機能追加:AND検索(yourphotoのみ)</dd>

    <dt>2023/08/29</dt>
        <dd>機能追加:タグおよびタググループ編集で、投稿もしくは編集後にメッセージ表示</dd>
        <dd>修正:タググループ削除時に、「そのタググループを設定したタグ」のグループが「なし」の扱いになっていなかったので是正</dd>

    <dt>2023/08/26</dt>
        <dd>機能追加:退会機能</dd>

    <dt>2023/08/24</dt>
        <dd>機能追加:自動で正方形トリミング機能(任意)</dd>
        <dd>ページ追加:運営者、更新履歴、問い合わせ</dd>

    <dt>2023/08/23</dt>
        <dd>機能追加:タグを読点「、」でも区切れるようにした</dd>

    <dt>2023/08/22</dt>
        <dd>機能追加:画像をスワイプして前後の投稿へ移動(shared photo)</dd>
        <dd>機能追加:写真アップロード時に、未登録のタグを自動で登録するようにした</dd>
        <dd>修正:タグに変な文字を使えないようにした</dd>
        
    <dt>2023/08/21</dt>
        <dd>機能追加:画像をスワイプして前後の投稿へ移動(your photo)</dd>

    <dt>2023/08/18</dt>
        <dd>その他追加:各ページにタイトルを表示(ブラウザのタブとかに表示されるやつです)</dd>
        
    <dt>2023/08/05</dt>
        <dd>公開</dd>
        
</dl>