<div id="<%= dom_id approved_user %>">
  <p>
    <strong>User:</strong>
    <%= approved_user.user_id %>
  </p>

  <p>
    <strong>Approved user:</strong>
    <%= approved_user.approved_user_id %>
  </p>

  <p>
    <strong>Authenticated:</strong>
    <%= approved_user.authenticated %>
  </p>

</div>
