<div id="table_container">
  <h1>秘密メモの閲覧許可</h1>
  <ul>
    <li>初期設定は「許可しない」です</li>
  </ul>
  
  <% @approved_users.each do |approved_user| %>
    <% if user=User.find(approved_user.approved_user_id) %> 
      <div class="table_forms">
          <div class="table_user_name">
            <%= user.name %>
          </div>
          <div class="table_toggle">
            <% if approved_user.secret_message_access==nil %>
                <button class="button_clear">許可しない</button>
                <%= button_to "許可する", "/secret_message_access_toggle/#{user.id}",class:"button_unpushed",data: { turbo_confirm: "本当に許可しますか？" } %>
            <% else %>
                <%= button_to "許可しない", "/secret_message_access_toggle/#{user.id}",class:"button_unpushed" %>
                <button class="button_active">許可する</button>
            <% end %>
          </div>
      </div>
    <% end %>
  <% end %>
  
   
  
</div>

