<h1>Editing approved user</h1>

<%= render "form", approved_user: @approved_user %>

<br>

<div>
  <%= link_to "Show this approved user", @approved_user %> |
  <%= link_to "Back to approved users", approved_users_path %>
</div>
