<h1>プロフィール設定</h1>
<%= render 'form', user: @current_user %>

<h1>ユーザー許可設定</h1>
<ol>
    <li>まず合言葉を登録してください。登録後、ユーザー登録ができます。</li>
    <li>次に許可したいユーザーを登録してください。</li>
    <li>メールやSNS等で、許可した人に自分のユーザー名と合言葉を伝えてください</li>
    <li>許可された人は、上部メニューの「shared photo」で合言葉を入力(最初の1回だけです)すると、以後あなたの写真を閲覧可能になります。</li>
</ol>
<%= render 'secret_phrases/form', secret_phrase: @secret_phrase %>

<% if SecretPhrase.find_by(user_id:@current_user.id) %>
    <%= render 'approved_users/form', approved_users: @approved_users %>
<% end %>
