<h1>あなたが許可したユーザー</h1>
<div>ユーザーを登録し、かつ合言葉(次項参照)を入力してもらうと、そのユーザーはあなたの写真を閲覧できるようになります。</div>
<%= link_to "追加・削除", editapproveduser_path, class:"search_button" %>

<% @approved_users.each do |approved_user| %>
    <% if user=User.find(approved_user.approved_user_id) %> 
        <div class="table_forms">
            <div class="table_user_name"><%= user.name %></div>
        </div>
    <% end %>
<% end %>

 
    
    
  