<div id="<%= dom_id tag %>">

  <p>
    <strong>tag:</strong>
    <%= tag.tag %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= tag.number %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= tag.group %>
  </p>

</div>