<div id="<%= dom_id tag %>">

  <p>
    <strong>tag:</strong>
    <%= tag.tag %>
  </p>

  <p>
    <strong>sort_order:</strong>
    <%= tag.sort_order %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= tag.group %>
  </p>

</div>