<div id="<%= dom_id taggroup %>">
  <p>
    <strong>Group:</strong>
    <%= taggroup.group %>
  </p>

  <p>
    <strong>Sort order:</strong>
    <%= taggroup.sort_order %>
  </p>

  <p>
    <strong>User:</strong>
    <%= taggroup.user_id %>
  </p>

</div>
