<%= turbo_frame_tag taggroup do %>
  <div class="table_forms">
    <div>
      <%= render "form", taggroup: taggroup, form_type: @form_type="posted_form" %>
    </div>
    <div>
      <%= button_to "削除",taggroup_path(taggroup), method: :delete, class:"table_delete" %>
    </div>
  </div>
<% end %>
