<div id="taggroups">
  <% @taggroups.each do |taggroup| %>
    <%= render taggroup %>
    <p>
      <%= link_to "Show this taggroup", taggroup %>
    </p>
  <% end %>
</div>

<%= link_to "New taggroup", new_taggroup_path %>
