<div id="<%= dom_id post %>">

  <div class="image">
    <% if post.image.attached? %>
      <%= link_to post.image do %>
        <%= image_tag post.image.variant(:thumb).processed.url %>
      <% end %>
    <% end %>
  </div>


  <p>
    <strong>Comment:</strong>
    <%= post.comment %>
  </p>

</div>
