<%= link_to "戻る", "../", class:"search_button" %>

<h1><%= @user.name %>のタグ:<%= params[:tag] %></h1>

<div id="photo_index_container">
  <% @posts.each do |post| %>
    <%= render "post_approved",post:post %>
  <% end %>
</div>

