<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "selectImg" %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>

    <div id="<%= dom_id post %>" class="image">
        <% if post.images.attached? %>
            <%= image_tag post.images[0].variant(:thumb).processed.url %>
        <% end %>
    </div>

  <% end %>
</div>

