<% provide(:title, "アップロード") %>

<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "editTag" %>
<% end %>

<div class="container_flex">

  <div class="container_form">
    <div class="message">
      <ul>
        <li>複数画像をまとめてアップロードできます。(1枚で1投稿扱い)。</li>
        <li>タグは半角のカンマ「,」で区切ってください。(投稿時に自動で登録され、以後この画面にボタンが表示されます)</li>
      </ul>

      <details>
          <summary>タグで使用できる文字の種類</summary>
          <ul>
              <li>全角なんでも</li>
              <li>半角英数なんでも</li>
              <li>半角記号は<span class="container_symbol">#()-_@</span>のみ</li>
          </ul>            
      </details>

    </div>
    <%= render "form", post: @post, multiple_images: @multiple_images %>
  </div>

</div>
