<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "editTag" %>
<% end %>

<div class="container_all">

  <div class="container_form">
    <%= render "form", post: @post, multiple_images: @multiple_images %>
  </div>

</div>
