<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "editTag" %>
<% end %>

<div class="container_all">

  <div class="container_form">
    <div class="message">
      <ul>
        <li>複数画像をまとめてアップロードできます。</li>
        <li>その場合、画像1枚につき1投稿扱いになります。</li>
        <li>登録していないタグを使う場合、半角のカンマ「,」で区切ってください。</li>
      </ul>
    </div>
    <%= render "form", post: @post, multiple_images: @multiple_images %>
  </div>

</div>
