<% provide(:title, "あなたを許可したユーザー") %>



<h1>あなたを許可したユーザー</h1>



<div>
  <% @approved_users.each do |approved_user| %>
    <% user=User.find(approved_user.user_id) %>
    <div>
      <%= link_to "#{user.name}", "/photo/#{user.name}/" %>
    </div>
  <% end %>
</div>

