<% provide(:title, "タグなし") %>

<%= link_to "戻る", yourphoto_path, class:"search_button" %>

<h1>タグなし<%= params[:tag] %></h1>

<div id="photo_index_container">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

