// 共通

$bg: #eee;
$text: #000;
$color1: #ff0;
$color2: #f0f;
$color3: #0ff;

body{
    background-color: $bg;
    margin: 0;
    padding-top: 60px;
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
}

.nav_bar{
    background-color: $text;
    color: $bg;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 2px;
    
    a{
        color: $bg;
        text-decoration: none;
        width: 30px;
        margin: 0px 2px;
        
        i{
            font-size: 30px;
            display: block;
        }

        span{
            display: block;
            font-size: 10px; 
            line-height: 9px;
            text-align: center;
        }
        
            // 一旦封印。
            // transform: scale(0.6); 
            // transform-origin: center top;
        
        &:nth-child(1){
            color: $color1;
        } 
    
        &:nth-child(2){
            color: $color2;
        } 
    
        &:nth-child(3){
            color: $color3;
        } 
    }
}

input,button{
    border-radius: 5px;
    border: 1px $text solid;
}


// トップ
.top{
    width: 300px;
    height: 600px;
    background-color: #000;
    color: #eee;
    margin:0 10px 1000px 10px;
}



// 画像一覧
.container_images img{
    width: 150px;
    float:left;
    border: 1px $text solid;
} 




// タグ編集
.search_button,
.sort_link{
    border-radius: 5px;
    border: $text 1px solid;
    display: inline-block;
    color: $text;
    text-decoration: none;
    font-size: 14px;
    background-color: $color3;
    padding: 1px 6px;
}

#tags{
    
    h1{
        font-size: 16px;
        font-weight: 400;
        margin: 30px 0 5px 0;
        border-bottom: $color2 3px solid;
        color: $color2;
    }
    
    .table_forms{
        white-space:nowrap;
        overflow:scroll;

        div{
            display: inline-block;
            margin:0 3px;
        }
        
        form{
            display: inline;
        }

        .table_title{
            border: none;
            background-color: transparent;
        }
        
        .table_tag{
            width: 150px;
        }

        .table_group{
            width: 100px;
        }

        .table_number{
            width: 50px;
        }

        .table_submit{
            width: 50px;
            background-color: $color1;
        }

        .table_delete{
            width: 50px;
            background-color: $color2;
            color: #fff;
        }

        
    }
}


// show
#post_comment,
#post_tag
{
    width: 90%;
    height: 1.5em;
}




// 一括タグ付け
#container_input_tag{
    margin: 1em 0;
} 

#posts {
    
    input[type="submit"]{
        margin: 1em 0;
    }

    .container_image_and_tag_all{
        display: flex;
        flex-wrap:wrap;

        .container_image_and_tag {
            width: 150px;
            margin: 5px;
            padding: 5px;
            background-color: $text;
            box-sizing: border-box;

            .container_image{
                text-align: center;
            }
            
            img{
                width: 100%;
            } 

            textarea{
                width: 100%;
                height: 120px;
                background-color: $text;
                color: $color3;
                border: none;
            }

            &:has(.select_image){
                 border: 5px $color2 solid;
            } 
        }
    }
}

.select_tag{
    background-color: $color3;
}





    // filter:   saturate(5620%) hue-rotate(298deg) ;
