// 共通

$bg: #eee;
$text: #000;
$text_lignter: #aaa;
$color1: #ff0;
$color2: #f0f;
$color3: #0ff;
$color4: #fff;


body{
    background-color: $bg;
    margin: 0 0 300px 0;
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
}

a{
    color: $text;
}

h1{
    font-size: 20px;
    margin: 30px 0 5px 0;
    border-bottom: $color2 3px solid;
    color: $color2;
}

h2{
    font-size: 16px;
    font-weight: 400;
    margin: 2em 0 0 0;
    padding-left: 5px;
    border-left: $color2 1em solid;
    color: $color2;
}

ul,ol{
    margin: 0;
    padding-left: 30px;
}

 .nav_bar{
    background-color: $text;
    color: $color4;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2px;
    
    a{
        color: $color4;
        text-decoration: none;
        margin: 0px 2px;
        width: 100px;
        
        &.menu_title_photo{
            color:$color2 ;
        }    
        
        &.menu_title_shared{
            color:$color2 ;
        }    
        
        &.menu_title_upload{
            color: $color1;
        }    
        
        &.menu_title_edittag{
            color: $color1;
        }    
        
        &.menu_title_tagto{
            color: $color3;
        }    
        
        &.menu_title_setting{
            color: $color3;
        }    
        
        &.menu_title_logout{
            color: $color4;
        }    
        
        i{
            font-size: 30px;
            display: block;
            text-align: left;
            float: left;
            padding-right: 5px;
        }

        span{
            display: block;
            font-size: 15px; 
            line-height: 15px;
            text-align: left;
        }
    }
}

.logo{
background-color: $text;
margin-bottom: 30px;
padding-top: 60px;
text-align: left;

    img{
        height: 60px;
    }
}

.success{
    background-color: $color3;
    color: $text;
}

.notice{
    background-color: $color2;
    color: $color4;
}

input,button,select{
    border-radius: 5px;
    border: 1px $text solid;
    background-color: $color4;
    color: $text;
}

input[type="submit"]{
    background-color: $color1;
}

.search_button,
.tag_button,
.sort_link,
.button{
    border-radius: 5px;
    border: $text 1px solid;
    display: inline-block;
    color: $text;
    text-decoration: none;
    font-size: 14px;
    background-color: $color3;
    padding: 1px 6px;
    margin: 5px 0;
}

.button_clear{
    background-color: $color2;
    color: $color4;
}

#table_container{
    
    input,button,select{
        width: 70px;
    }

    .table_forms{
        white-space:nowrap;
        overflow:scroll;

        div{
            display: inline-block;
            margin:0 3px;
        }
        
        form{
            display: inline;
        }

        .table_title{
            border: none;
            background-color: transparent;
        }
        
        .table_tag{
            width: 120px;
        }

        .table_group{
            width: 70px;
        }

        .table_sort_order{
            width: 40px;
        }

        .table_user_name{
            width: 100px;
        }

        .table_submit{
            width: 40px;
            background-color: $color1;
        }

        .table_delete{
            width: 40px;
            background-color: $color2;
            color: $color4;
        }

        .table_toggle{
            
            button{
                width: auto;
            }

            .button_active{
                background-color: $color1;
            }

            .button_unpushed{
                background-color: $bg;
            }
        }
    }
}

.button_mini{
    width: 40px !important;
}



// トップ
.overview{
    font-size: 20px; 

    li{
        margin-bottom: 20px;
    }
}

.container_demo_all{
    width: 100%;
    max-width: 800px;

    .container_demo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $text;
        padding: 2em;
        margin: 1em 0 3em 1em;
        border-radius: 20px;

        div{
            color: $color1;
            font-size: 60px;
        }

        img{
            height: 400px;
        }
    }
}

.container_description_all{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    
    .menu1,.menu2{
        color: $color2;
        a{
            color: $color2;
            border-bottom: $color2 solid 1px;
        }
    }
    .menu3,.menu4{
        color: $color1;
        a{
            color: $color1;
            border-bottom: $color1 solid 1px;
        }
    }
    .menu5,.menu6{
        color: $color3;
        a{
            color: $color3;
            border-bottom: $color3 solid 1px;
        }
    }

    .container_description{
        display: flex;
        justify-content: space-between;
        margin:20px;
        padding: 20px;
        background-color: $text;
        width: 400px;
        border-radius: 20px;

        .container_link_and_text{
            
            .link{
                font-size: 25px;
                a{
                    span{
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
            }

            .text{
                margin: 20px 20px 0 0;
            }

       }
        .image{
            img{
                width: 100px;
                border: $text solid 1px;
            }
        }
     }
}




// サインアップ、ログイン画面

.container_simple_form{
    
    div{
        margin-top: 1em;

        label{
            display: block;
        }
    }
}






// アップロード 兼 画像一覧 兼 画像編集

#tag_index_container{
    width: 100%;

    th,td{
        text-align: left;
        border-right: $text_lignter 1px solid;
        border-bottom: $text_lignter 1px solid;
    } 

    .tag_index_group{
        width: 20%;
    }

    .tag_index_tag{
        width: 80%;
    }
}    
 

// 画像一覧

#photo_index_container{
    display: flex;
    flex-wrap: wrap;

    .container_images{
            width: 150px;

        img{
            border: 1px $text solid;
            width: 100%;
        } 
    } 
}    
    






// アップロード 兼 画像編集

.container_all{
    display: flex;
    width: 100%;

    .message{
        margin-bottom: 1em;
    }
    
    .container_photo{
        margin: 5px;
        flex: 1;

        img{
            width: 100%;
        }
    } 

    .container_form{
        margin: 5px;
        flex: 1;

        label{
            display: block;
        } 

        table{
            margin-top: 1em;
        }

        #post_tag{
            width: 99%;
            height: 100px;
        }

        #post_comment{
            width: 99%;
            height: 3em;
        }

        .button_submit{
            margin-top: 30px;
            width: 99%;
            height: 30px;
        } 
    }
}

.container_delete{
    margin-top: 100px;
}








// タグ編集

.container_filter{
    letter-spacing: -2px;
    margin-bottom: 2em;
}




// 一括タグ付け

#container_input_tag{
    margin: 1em 0;
} 

#posts {
    
    input[type="submit"]{
        margin: 1em 0;
    }

    #container_image_and_tag_all{
        display: flex;
        flex-wrap:wrap;

        .container_image_and_tag {
            width: 150px;
            margin: 5px;
            padding: 5px;
            background-color: $text;
            box-sizing: border-box;

            .container_image{
                text-align: center;
            }
            
            img{
                width: 100%;
            } 

            textarea{
                width: 100%;
                height: 120px;
                background-color: $text;
                color: $color3;
                border: none;
            }
        }
        .select_image{
            border: 5px $color2 solid;
        } 
    }
}


.select_tag{
    background-color: $color3;
}
    // filter:   saturate(5620%) hue-rotate(298deg) ;

    
    

// ユーザー設定

#form_setting{
    label,textarea,input{
        display: block;
    }
}

.container_secret_message_in_setting{
    label{
        margin-top: 1em;
        display: block;
    }

    textarea{
        width: 90%;
        max-width: 600px;
        height: 300px;
        margin-left: 1em;
    }
}




// スマホ用

@media screen and (max-width: 480px) {

 .container_demo_all{

    .container_demo{
        display: block;
        padding: 1em;
        margin: 1em 1em 3em 1em;

        div{
            font-size: 20px;
            margin-bottom: 1em;

            br{
                display: none;
            }
        }

        img{
            width: 100%;
            height:auto;
        }
    }

}

   

#photo_index_container{
    .container_images{
            width: 33%;
    } 
}

#posts {

    #container_image_and_tag_all{

        .container_image_and_tag {
            width: 30%;
        }
    }
}

 .nav_bar{
    position: fixed;
    top: 0;
    left: 0;
    
    a{
        margin: 0px 2px;
        width: 40px;
        
        i{
            font-size: 30px;
            text-align: center;
            float: none;
            padding-right: 0px;
        }

        span{
            font-size: 10px; 
            line-height: 10px;
            text-align: center;
        }
    }
}

.container_all{
    display: block;
    
    .container_photo{
        margin: 0px;

        img{
        }
    } 

    .container_form{
        margin: 0px;
        width: 99%;
    }
}



}

