<div id="table_container">
  <h2>合言葉登録</h2>

  <div><%= @present %></div> 
  
  <div class="table_forms">
    <%= form_with(model: @secret_phrase) do |form| %>
      <%= form.text_field :password, class:"table_user_name" %>
      <%= form.submit(class:"table_submit") %>
    <% end %>
  </div>

  <ul>
    <li>全角半角なんでもOKです。</li>
    <li>暗号化して保存されます。</li>
  </ul>
    

</div>