<div id="<%= dom_id secret_phrase %>">
  <p>
    <strong>User:</strong>
    <%= secret_phrase.user_id %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= secret_phrase.password_digest %>
  </p>

</div>
