<h1>Editing secret phrase</h1>

<%= render "form", secret_phrase: @secret_phrase %>

<br>

<div>
  <%= link_to "Show this secret phrase", @secret_phrase %> |
  <%= link_to "Back to secret phrases", secret_phrases_path %>
</div>
